<footer class="s-footer">
	<ul class="s-footer__list">
    <li><a href="https://pineappledevsbr.github.io/pineappleDevs_institucional/" target="_blank" rel="noreferrer" class="s-footer__link">Sobre a gente</a></li>
    <li><a href="https://github.com/pineappleDevsBr/FanTastic" target="_blank" rel="noreferrer" class="s-footer__link">GitHub</a></li>
    <li><a href="mailto:pineappleDevs.lf@gmail.com" class="s-footer__link">Contato</a></li>
  </ul>
	<p data-footer>&copy; <span class="s-footer__copy">PinneapleDevs</span> | </p>
</footer>

<script>
	footer = document.querySelector('[data-footer]');
	footer.innerHTML += new Date().getFullYear();
</script>