<header>
  <h1>Fantastic</h1>
  <p>Uma fantastica ferramenta de estatistica</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales blandit posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce in erat at erat sollicitudin volutpat. Phasellus sagittis at mauris at rutrum. Nam rhoncus, urna at dapibus auctor, est neque sagittis felis, a semper urna quam eu mi. Vestibulum faucibus rutrum justo, ut facilisis lorem aliquet eget. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  <a href="#">formulario</a>
</header>
