<div class="s-header">

  {% include sections/accessibility-bar.html %}

  <header class="t-container s-header-wrapp">
    <h1 class="o-title"><span class="o-title--highlight">Fan</span>tastic</h1>
    <p class="o-subtitle">Uma <span class="o-title--highlight">fan</span>tástica ferramenta de estatística</p>
    <p class="o-description">Você já sonhou com alguma solução rápida para aqueles cálculos mais complexos? Então pare de sonhar e conheça a Fantastic, a ferramenta que vai agilizar o seu dia a dia resolvendo, de maneira prática, os cálculos que tomam seu tempo. Com apenas alguns cliques, você chega nas respostas para seus problemas estatísticos com a garantia de resultados que você precisa para tomar decisões mais assertivas. Quer mais? Você ainda pode exportar todas as informações com segurança em PDF. Faça agora seu cadastro e aproveite!</p>
    <div class="c-login">
      <button class="o-button o-button--logon" data-open-login>Vamos começar</button>
      <button class="o-button o-button--logon" data-logoff-login>Sair</button>
    </div>
  </header>
</div>