<div class="s-header">

  {% include sections/accessibility-bar.html %}

  <header class="t-container s-header-wrapp">
    <h1 class="o-title"><span>Fan</span>tastic</h1>
    <p class="o-subtitle">Uma fantástica ferramenta de estatistica</p>
    <p class="o-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales blandit posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce in erat at erat sollicitudin volutpat. Phasellus sagittis at mauris at rutrum. Nam rhoncus, urna at dapibus auctor, est neque sagittis felis, a semper urna quam eu mi. Vestibulum faucibus rutrum justo, ut facilisis lorem aliquet eget. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <button data-open-login>Vamos começar</button>
    <!-- <button class="o-button--arrow-down" name="Inicio" data-button-home aria-label="Inicio"</button> -->
  </header>
  <!-- <a href="https://github.com/pineappleDevsBr/FanTastic" target="_blank" class="o-octocat"></a> -->
</div>