//primary colors
$color-black: #000;
$color-white: #fff;
$color-gray: #3f3f3f;
$color-gray-mid:#4f4f4f;
$color-gray-ease: #bfbfbf;
$color-gray-minimal: #ebebe4;
$color-purple: #6a00e3;
$color-orange: #ff6510;
$color-result: #820933;
$purple-plated: #470097;

// Backgrounds
$gd-blue-shaft: linear-gradient(to left, #104e8b, #1aaad8);
$gd-purple-shaft: linear-gradient(to left, #470097, #7700fe);
$gd-yellow-shaft: linear-gradient(to left, #fdb200, #ca9106);
$gd-green-shaft: linear-gradient(to right, #6edcc4, #1aab8b);

$colors: (
  color-black: $color-black,
  gradient-blue: $gd-blue-shaft,
  gradient-purple: $gd-purple-shaft,
);

$contrast-colors: (
  color-black: $color-black,
  gradient-blue: $color-gray-mid,
  gradient-purple: $color-black,
);
