//primary colors
$color-black: #000;
$color-white: #fff;
$color-gray: #3f3f3f;
$color-gray-mid:#4f4f4f;
$color-gray-ease: #bfbfbf;
$color-gray-minimal: #dcdcdc;
//$color-gray-minimal: #ebebe4;
$color-purple: #6a00e3;
$color-orange: #ff6510;
$color-orange-dark: #f70;
$color-result: #820933;
$color-blue-light: #1aaad8;
$color-blue-light2: #4998dd;
$color-blue-dark: #104e8b;
$color-green: #00995e;
$color-green-light: #d6ffd9;
$purple-plated: #470097;

// Backgrounds
$gd-blue-shaft: linear-gradient(to left, #104e8b, #1aaad8);
$gd-purple-shaft: linear-gradient(to left, #470097, #7700fe);
$gd-yellow-shaft: linear-gradient(to left, #fdb200, #ca9106);
$gd-green-shaft: linear-gradient(to right, #00995e, #00cc7e);
$gd-orange-shaft: linear-gradient(to right, #f70, #ff9100);

$colors: (
  color-black: $color-black,
  color-purple: $color-purple,
  color-green: $color-green,
  color-green-light: $color-green-light,
  color-gray-black: $color-gray,
  gradient-blue: $gd-blue-shaft,
  gradient-purple: $gd-purple-shaft,
  gradient-green: $gd-green-shaft,
  gradient-orange: $gd-orange-shaft,
);

$contrast-colors: (
  color-black: $color-black,
  color-purple: $color-gray,
  color-green: $color-gray,
  color-green-light: $color-gray-minimal,
  gradient-blue: $color-gray-mid,
  gradient-purple: $color-gray,
  gradient-green: $color-gray-mid,
  gradient-orange: $color-gray-minimal,
);
