body::-webkit-scrollbar-thumb {
  background-color: #766e63;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #766e63;
}

body::-webkit-scrollbar-thumb {
  background-color: $color-gray-ease;
}

.c-form__box::-webkit-scrollbar-thumb {
  background-color: #766e63;
}

.c-form__box::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.c-form__box::-webkit-scrollbar-track {
  background-color: #fff;
}

.c-form__box::-webkit-scrollbar-thumb {
  background-color: #766e63;
}

.c-help-box__holder::-webkit-scrollbar-thumb {
  background-color: #766e63;
  border-radius: 4px;
}

.c-help-box__holder::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.c-help-box__holder::-webkit-scrollbar-track {
  background-color: #fff;
}

.c-help-box__holder::-webkit-scrollbar-thumb {
  background-color: #766e63;
  border-radius: 4px;
}
