@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Saira+Semi+Condensed:500,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

$font-family-main: 'Roboto', sans-serif;
$font-family-highlight: 'Saira Semi Condensed', sans-serif;
$font-family-secondary: 'Playfair Display', serif;
$font-family-script: 'Kaushan Script', cursive;
$font-family-poiret: 'Poiret One', cursive;

$font-weight-minimum: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
