@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Saira+Semi+Condensed:500,700');

$font-family-main: 'Roboto', sans-serif;

$font-weight-minimum: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
