// Tools
@import '1-tools/t-container';
@import '1-tools/t-respond-to';
// Settings
@import '2-settings/s-colors';
@import '2-settings/s-accessibility-color';
@import '2-settings/s-typography';
@import '2-settings/s-scrollBar';

// Vendors
@import '3-vendors/v-imports';

// Animations

// Objects
@import '5-objects/o-title';
@import '5-objects/o-subtitle';
@import '5-objects/o-description';
@import '5-objects/o-button';
@import '5-objects/o-octocat';
@import '5-objects/o-label';

// Components
@import '6-components/c-form';
@import '6-components/c-dropdown';
@import '6-components/c-result';
@import '6-components/c-accessibility-bar';

// Sections
@import '7-sections/s-header';
@import '7-sections/s-section';

<<<<<<< HEAD
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table__informations {
  display: flex;
  width: 100%;
}

.table__header {
  background: #1aab8b;
  color: #fff;
  text-transform: uppercase;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
}

.table__item {
  padding: 15px;
  text-align: center;
}

.table__lines:nth-child(even) {
  background: #eee;
}

.cell__information {
  display: inline-block;
  margin: 20px 10px;
  flex: 1;
  height: 50px;
  background: #fafafa;
  box-shadow: 0 8px 6px -6px #b3b0b0;
  text-align: center;
}

.cell__information p {
  display: block;
  margin: 5px;
  padding: 0;
}

.cell__title {
  font-weight: bolder;
  font-size: 18px;
}
=======
>>>>>>> 228efb64b776296ea3ad50d94d1b528936b2d238
