<div class="s-section s-section--form" data-section-form>
  <div class="c-form-wrapp" data-form>

    <ul class="c-form__tabs"tab-list>
      <li class="c-form__tab" tab><a href="#descriptive" class="c-form__tab-title">Estatística descritiva</a></li>
      <li class="c-form__tab" tab tab-default><a href="#probability" class="c-form__tab-title">Probabilidade</a></li>
      <li class="c-form__tab" tab><a href="#tab-2" class="c-form__tab-title">Correlação e Regressão</a></li>
    </ul>

    <div class="c-form__boxes" content-list>
      {% include sections/tabs/descriptive.html %}
      {% include sections/tabs/correlationAndRegression.html %}
      {% include sections/tabs/probability.html %}
    </div>

  </div>
</div>
