<div class="c-form-wrapp" data-form>

  <ul class="c-form__tabs" data-list-tab>
    <li class="c-form__tab is-active" data-tab><spam class="c-form__tab-title">Estatística descritiva</spam></li>
    <li class="c-form__tab" data-tab><spam class="c-form__tab-title">Correlação e Regressão</spam></li>
    <li class="c-form__tab" data-tab><spam class="c-form__tab-title">Probabilidade</spam></li>
  </ul>

  <div class="c-form__boxes" data-list-box>
    {% include sections/tabs/descriptive.html %}
    {% include sections/tabs/tab-2.html %}
    {% include sections/tabs/tab-3.html %}
  </div>
  
</div>
