<div class="c-form-wrapp" data-form>

  <ul class="c-form__tabs" data-tab>
    <li class="c-form__tab is-active"><spam class="c-form__tab-title">Estatística descritiva</spam></li>
    <li class="c-form__tab"><spam class="c-form__tab-title">Correlação e Regressão</spam></li>
    <li class="c-form__tab"><spam class="c-form__tab-title">Probabilidade</spam></li>
  </ul>

  <div class="c-form__boxes" data-box>
    {% include sections/tabs/tab-1.html %}
    {% include sections/tabs/tab-2.html %}
    {% include sections/tabs/tab-3.html %}
  </div>
  
</div>
