<div class="c-help-box" data-help-box>
  <div class="c-help-box__wrapp">
    <div class="c-help-box__cta" data-button-open>
      <span class="c-help-box__title">Posso ajudar ?</span>
      <button class="c-help-box__button">🤔</button>
    </div>
    <div class="c-help-box__holder">
     <h3 class="c-help-box__holder-title">Dicas de uso</h3>
     <ul class="c-help-box__holder-list">
       <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Tipo do processo</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <p>Non sit exercitation quis mollit sit dolor mollit aliqua pariatur irure aliquip do voluptate. Eiusmod magna id adipisicing esse cupidatat nisi exercitation ipsum proident id sunt sunt.Non sit exercitation quis mollit sit dolor mollit aliqua pariatur irure aliquip do voluptate. Eiusmod magna id adipisicing esse cupidatat nisi exercitation ipsum proident id sunt sunt.</p>
         </div>
        </li>
       <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Escolha do tipo de varivel</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <ul>
            <li>Qualitativa nominal</li>
            <li>Qualitativa ordinal</li>
            <li>Quantitativa discreta</li>
            <li>Quantitativa continua</li>
          </ul>
         </div>
       </li>
       <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Escolha da medida separatriz</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <ul>
            <li>Quartil</li>
            <li>Quintil</li>
            <li>Decil</li>
            <li>Porcentil</li>
          </ul>
         </div>
       </li>
     </ul>
     <button data-button-close>Close</button>
    </div>
  </div>
</div>