<div class="c-help-box" data-help-box>
  <div class="c-help-box__wrapp">
    <div class="c-help-box__cta" data-button-open>
      <span class="c-help-box__title">Posso ajudar ?</span>
      <button class="c-help-box__button">🤔</button>
    </div>
    <div class="c-help-box__holder">
      <h3 class="c-help-box__holder-title">Dicas de uso</h3>
      <ul class="c-help-box__holder-list" data-change-box>
       <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Tipo do processo</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <div>
            <p class="c-help-box__content">O tipo de processo interfere no resultado dos calculos:</p>
            <ul class="c-help-box__content">
              <li><b>Amostra</b>: se trata de uma amostra de dados pesquisado.</li>
              <li><b>Populaçao</b>: se trata de todos os dados pesquisadas.</li>
            </ul>
          </div>
         </div>
        </li>
       <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Escolha do tipo de variável</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <div>
            <p class="c-help-box__content">Trata-se de que tipo de variável esta sendo pesquisada:</p>
            <ul class="c-help-box__content">
              <li><b>Qualitativa Nominal</b>: ordenada por ordem alfabetica, sendo dados qualitativos.</li>
              <li><b>Qualitativa Ordinal</b>: ordenada a partir da ordem fornecida no campo abaixo da escolha, sendo dados qualitativos.</li>
              <li><b>Quantitava Discritiva</b>: usada comumente quando a variável nao tem muito diversidade, sendo dados quantitativos. </li>
              <li><b>Quantitava Continua</b>: usada quando a variável pesquisada tem muita diversidade, sendo dados quantitativos.</li>
            </ul>
          </div>
         </div>
       </li>
       <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Escolha da medida separatriz</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <div>
            <p class="c-help-box__content">São números que dividem a sequência ordenada de dados em partes que contêm a mesma quantidade de elementos da série:</p>
            <ul class="c-help-box__content">
              <li><b>Quartil</b>: Divide os dados em quatro partes.</li>
              <li><b>Quintil</b>: Divide os dados em cinco partes.</li>
              <li><b>Decil</b>: Devide os dados em dez partes.</li>
              <li><b>Porcentil</b>: Divide os dados em cem partes.</li>
            </ul>
          </div>
         </div>
       </li>
     </ul>
     <ul class="c-help-box__holder-list" data-change-box style="display: none">
      <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Distribuição Uniforme</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <div>
            <p class="c-help-box__content">Usada para achar a probabilidade do evento acontecer em um intervalo fornecido, os dados sao separados por ";".</p>
            <ul class="c-help-box__content">
              <li><b>Ponto Maximo</b></li>
              <li><b>Ponto Minimo</b></li>
              <li><b>Intervalo de análise</b>: escolhe-se a forma da resultado, sendo eles: 'menor que'; 'entre'; 'maior que'.</li>
            </ul>
          </div>
         </div>
       </li>
       <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Distribuição Binomial</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <div>
            <p class="c-help-box__content">É aplicada em casos de experimentos repetidos, os dados sao separados por ";".</p>
            <ul class="c-help-box__content">
              <li><b>Tamanho da amostra</b></li>
              <li><b>Evento</b></li>
              <li><b>Sucesso</b></li>
              <li><b>Fracasso</b></li>
            </ul>
          </div>
         </div>
       </li>
       <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Distribuição Normal</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <div>
            <p class="c-help-box__content">É aplicada em casos de experimentos repetidos, os dados sao separados por ";".</p>
            <ul class="c-help-box__content">
              <li><b>Média</b></li>
              <li><b>Desvio padrão</b></li>
              <li><b>Intervalo de anáise</b></li>
            </ul>
          </div>
         </div>
       </li>
       <li class="c-help-box__holder-item">
         <h4 class="c-help-box__item-title" data-item>Distribuição Normal</h4>
         <div data-height="isClosed" class="c-help-box__height-box">
          <div>
            <p class="c-help-box__content">É aplicada em casos de experimentos repetidos, os dados sao separados por ";".</p>
            <ul class="c-help-box__content">
              <li><b>Média</b></li>
              <li><b>Desvio padrão</b></li>
              <li><b>Intervalo de anáise</b></li>
            </ul>
          </div>
         </div>
       </li>
      </ul>
      <ul class="c-help-box__holder-list" data-change-box style="display: none">
        <li class="c-help-box__holder-item">
        <h4 class="c-help-box__item-title" data-item>Correlação e Regressão</h4>
        <div data-height="isClosed" class="c-help-box__height-box">
          <div>
            <p class="c-help-box__content">Equação que define a linha reta que descreve a associação entre duas variáveis e que permite estimar o valor de uma medida pela outra.</p>
            <ul class="c-help-box__content">
              <li><b>Historico da variável independente</b></li>
              <li><b>Historico da variável dependente</b></li>
            </ul>
          </div>
        </div>
      </li>
      </ul>
    <button class="o-button o-button--helpbox" data-button-close>Close</button>
    </div>
  </div>
</div>