<div class="c-help-box" data-help-box>
  <div class="c-help-box__wrapp">
    <div class="c-help-box__cta" data-help-box-open>
      <span class="c-help-box__title">Posso ajudar ?</span>
      <button class="c-help-box__button">🤔</button>
    </div>
    <div class="c-help-box__holder">
     <h3>Dicas de uso</h3>
     <ul>
       <li>Escolha de processo</li>
       <li>Escolha do tipo de varivel</li>
       <li>Escolha da medida separatriz</li>
     </ul>
     <button data-help-box-close>Close</button>
    </div>
  </div>
</div>

<script>

var pao = document.querySelector('[data-help-box]');
var poa = document.querySelector('[data-help-box-close]');
var pp  = document.querySelector('[data-help-box-open]');

pp.addEventListener("click", () => {
  pao.classList.toggle('is-active');
})

poa.addEventListener("click", () => {
  pao.classList.toggle('is-active');
})

</script>