<div class="c-modal" id="modal-1" aria-hidden="true" data-modal>

  <div class="c-modal__overlay" tabindex="-1" data-micromodal-close>

    <div class="c-modal__wrapp" role="dialog" aria-modal="true" aria-labelledby="modal-1-title" >

      <div class="c-modal__holder">
        <header class="c-modal__header">
            <h2 id="modal-1-title" class="c-modal__title">
              Ops, algo deu errado! 🤕
            </h2>
    
            <button class="c-modal__button-close" aria-label="Close modal" data-micromodal-close></button>
          </header>
    
          <div id="modal-1-content" class="c-modal__content" data-modal-message>
            Modal Content
          </div>      
      </div>

    </div>
  </div>
</div>