<div class="c-modal" id="modal-2" aria-hidden="true" data-modal>
  
  <div class="c-modal__overlay" tabindex="-1">
    
    <div class="c-modal__wrapp" role="dialog" aria-modal="true" aria-labelledby="modal-1-title" >
      
      <div class="c-modal__holder">
        <button data-micromodal-close>Close</button>
        <header class="c-modal__header">
          Fantastic
        </header>
        <form id="modal-1-content" class="c-modal__content" data-modal-message>
          <div>
            <label for="email">Email</label>
            <input id="email" type="mail" required data-email-login>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" required data-password-login>
          </div>
          <button type="submit" data-submit-login>Login</button>
        </form>      
      </div>
      
    </div>
  </div>
</div>