.c-douglinhas {
  position: fixed;
  bottom: 0;
  right: 14vw;
  background: $color-white;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 6;
  box-shadow: 0 0 5px $color-gray;
}

.c-douglinhas__title {
  margin: 0;
  font-size: 22px;
  cursor: pointer;
}

.c-douglinhas__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-douglinhas__list-holder {
  position: relative;
  overflow: hidden;
  max-height: 0;
}

.c-douglinhas__list {
  height: 230px;
  border-top: 2px solid black;
  margin-top: 10px;
}
