.c-dropdown__tabs {
  list-style: none;
  padding-left: 0;
}

.c-dropdown__tab {
  display: inline-block;
  width: 94px;
  border-bottom: 2px solid $color-gray-ease;

  @include ac(border-bottom, color-purple);

  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;

  a {
    color: $color-gray-mid;
    text-decoration: none;
  }

  &:hover,
  &.is-active {
    border-bottom: 2px solid $color-purple;

    @include ac(border-color, color-purple);

    a {
      font-weight: bold;
      color: $color-gray-mid;
    }
  }
}

.c-dropdown__boxes {
  position: relative;
}

.c-dropdown__box {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -1;

  &.is-active {
    opacity: 1;
    z-index: 1;
    position: relative;
  }
}

@include respond-to(mobile) {
  .c-dropdown__tabs {
    display: flex;
  }

  .c-dropdown__tab {
    width: auto;
    flex: 1;
  }
}
