.c-form-wrapp {
  max-width: 1350px;
  height: calc(100vh - 80px);
  margin: 50px auto 30px;
  overflow: hidden;
  border-radius: 10px;
  background: white;
}

.c-form__tabs {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
  background: $color-gray-ease;
}

.c-form__tab {
  flex: 1;
  color: $color-white;
  font-size: 24px;
  font-weight: $font-weight-medium;
  font-family: $font-family-main;
  padding: 20px 10px;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  &.is-active {
    background: white;
    color: $color-gray;

    &:nth-child(1) {
      border-top-right-radius: 10px;
    }

    &:nth-child(2) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:nth-child(3) {
      border-top-left-radius: 10px;
    }
  }
}

.c-form__tab-title {
  vertical-align: middle;
  display: inline-block;
}

.c-form__boxes {
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 89px);
  padding-top: 15px;
  margin-right: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.c-form__box {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: calc(100% - 140px);
  padding: 0 70px 15px;
  height: calc(100% - 30px);
  overflow-y: scroll;

  &.is-active {
    opacity: 1;
    z-index: 2;
  }
}

@include respond-to(mobile-tablet) {
  .c-form__tab {
    font-size: 15px;
  }
}

@include respond-to(mobile) {
  .c-form__box {
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% - 40px);
  }
}

@media all and (max-width: 320px) {
  .c-form__tab {
    font-size: 12px;
  }
}
