.c-projection {
  margin: 0 25px;
}

.c-projection__title {
  font-size: 20px;
}

.c-projection__text {
  font-size: 16px;
  display: inline-block;
}

.c-projection__input {
  border: none;

  @include ac(border-bottom-color, color-green-water);

  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: inline-block;
  width: 70px;
  outline: none;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;

  &:focus {
    border-bottom-width: 2px; // No lint reported
  }
}
