.c-form-wrapp {
  max-width: 1350px;
  min-height: 80vh;
  margin: 50px auto 30px;
  overflow: hidden;
  border-radius: 10px;
  background: white;
}

.c-form__tabs {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
  background: $color-gray-mid;
}

.c-form__tab {
  flex: 1;
  padding: 20px 10px;
  cursor: pointer;
  position: relative;

  a {
    color: $color-white;
    font-size: 24px;
    font-weight: $font-weight-medium;
    font-family: $font-family-main;
  }

  &::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  &.is-active {
    background: white;

    &:nth-child(1) {
      border-top-right-radius: 10px;
    }

    &:nth-child(2) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:nth-child(3) {
      border-top-left-radius: 10px;
    }

    a {
      color: $color-gray;
    }
  }
}

.c-form__tab-title {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 5px;
}

.c-form__boxes {
  position: relative;
  padding-top: 15px;
  margin-right: 10px;
  min-height: calc(80vh - 60px);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.c-form__box {
  position: absolute;
  opacity: 0;
  z-index: -1;
  padding: 0 70px 15px;

  &.is-active {
    opacity: 1;
    z-index: 2;
  }
}

.c-form-wrapp__title {
  padding: 0 20px;
  font-size: 45px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@include respond-to(mobile-tablet) {
  .c-form__tab a {
    font-size: 15px;
  }
}

@include respond-to(mobile) {
  .c-form__box {
    padding-right: 20px;
    padding-left: 20px;
    width: calc(100% - 40px);
  }
}

@media all and (max-width: 320px) {
  .c-form__tab a {
    font-size: 12px;
  }
}
