.c-modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  display: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba($color: #000, $alpha: 0.5);
  }

  &__wrapp {
    background: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px $color-gray-mid;
  }

  &__holder {
    position: relative;
    padding: 40px;
  }
}

.c-modal__button-close {
  position: absolute;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 10px;
  height: 35px;
  width: 35px;
  right: 5px;
  top: 5px;
  outline: none;
  cursor: pointer;

  &::after {
    content: '';
    background: url(../static/close-button.png);
    background-size: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.c-modal.is-open {
  display: block;
}

@include respond-to(mobile) {
  .c-modal__holder {
    padding: 40px 15px;
    width: 232px;
    text-align: center;
  }
}
