.c-modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  display: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba($color: #000, $alpha: 0.5);
  }

  &__wrapp {
    background: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px $color-gray-mid;
  }

  &__holder {
    position: relative;
    padding: 40px;
  }
}

.c-modal__login {
  .c-modal {
    &__overlay {
      background: $gd-blue-shaft;

      @include ac(background, gradient-blue);
    }

    &__wrapp {
      border-radius: 10px;
      width: 90%;
      max-width: 450px;
    }

    &__header {
      position: relative;
      display: block;
      text-align: center;
    }

    &__content {
      margin-top: 60px;
      text-align: center;
    }

    &__input {
      position: relative;
      margin-bottom: 30px;

      input {
        padding-left: 20px;
        color: $color-blue-dark;

        @include ac(color, gradient-blue);

        box-sizing: border-box;
      }
    }

    &__input-title {
      position: absolute;
      top: -10px;
      left: 20px;
      padding: 0 10px;
      background: $color-white;
      color: $color-blue-dark;

      @include ac(color, gradient-blue);
    }

    &__input-box {
      width: calc(100% - 20px);
      border: solid 1px $color-blue-dark;

      @include ac(border-color, gradient-blue);

      border-radius: 10px;
      height: 45px;
      padding-right: 15px;
      outline: none;
    }

    &__title {
      color: $color-blue-dark;

      @include ac(color, gradient-blue);

      font-size: 45px;
      margin: 0;
    }

    &__subtitle {
      color: $color-blue-dark;

      @include ac(color, gradient-blue);

      font-size: 25px;
    }

    &__button-close {
      right: 20px;
      top: 20px;
      mix-blend-mode: multiply;
    }

    &__ancor {
      color: $color-blue-dark;

      @include ac(color, gradient-blue);

      margin: 0 10px;
      text-decoration: none;

      &:hover {
        color: $color-blue-light;

        @include ac(color, gradient-blue);
      }
    }
  }
}

.c-modal__button-close {
  position: absolute;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 10px;
  height: 35px;
  width: 35px;
  right: 5px;
  top: 5px;
  outline: none;
  cursor: pointer;

  &::after {
    content: '';
    background: url(../static/close-button.png);
    background-size: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.c-modal.is-open {
  display: block;
}

@include respond-to(mobile) {
  .c-modal__holder {
    padding: 40px 15px;
    width: 232px;
    text-align: center;
  }

  .c-modal__login {
    .c-modal__holder {
      width: auto;
    }
  }
}
