table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table__informations {
  display: flex;
  width: 100%;
}

.table__header {
  background: #1aab8b;
  color: #fff;
  text-transform: uppercase;
}

.table__item {
  padding: 15px;
  text-align: center;
}

.table__lines:nth-child(even) {
  background: #eee;
}

.cell__information {
  display: inline-block;
  margin: 20px 10px;
  flex: 1;
  height: 50px;
  background: #fafafa;
  box-shadow: 0 8px 6px -6px #b3b0b0;
  text-align: center;
}

.cell__information p {
  display: block;
  margin: 5px;
  padding: 0;
}

.cell__title {
  font-weight: bolder;
  font-size: 18px;
}

