table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table__informations {
  text-align: center;
}

.table__header {
  // background: #00995e;

  @include ac(background, color-green);

  color: #fff;
  text-transform: uppercase;
}

.table__item {
  padding: 15px;
  text-align: center;
  min-width: 130px;
}

.table__lines:nth-child(even) {
  // background: #d6ffd9;
  @include ac(background, color-green-light);
}

.cell__information {
  display: inline-block;
  margin: 20px 10px;
  position: relative;
  height: 50px;
  background: #fafafa;
  box-shadow: 0 8px 6px -6px #b3b0b0;
  text-align: center;
}

.cell__information p {
  display: block;
  margin: 5px;
  padding: 0 20px;
}

.cell__title {
  font-weight: bolder;
  font-size: 18px;
}
