.s-section {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0 15px;

  &--form {
    @include ac(background, gradient-purple); // Trocar por essa #470097

    display: none;

    &.is-active {
      display: block;
    }
  }

  &--result {
    background: $color-result;
    display: none;

    &.is-active {
      display: block;
    }
  }
}
