.o-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    box-shadow: 0 0 2px $color-black;
    text-shadow: 0 0 2px $color-white;
  }

  &--calculate {
    background: $gd-purple-shaft;
    color: $color-white;
    line-height: 1;
    border-radius: 10px;
    padding: 10px 20px;
  }

  &--arrow-down {
    @extend .o-button;

    background: url(../static/arrow-down.png);
    background-repeat: no-repeat;
    width: 93px;
    height: 91px;
    display: inline-block;
    margin: 0 auto;

    &:hover {
      animation: animateButton 2s infinite;
    }
  }

  &--file {
    display: inline-block;

    input {
      display: none;
    }

    .o-button_label {
      display: inline-block;
      background: $gd-purple-shaft;
      color: $color-white;
      padding: 10px 20px;
      border-radius: 10px;
      line-height: 1;
      cursor: pointer;
      box-sizing: border-box;
    }
  }
}

@keyframes animateButton {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animateButton-calculate {
  0% {
    transform: translateY(0) rotate(90deg);
  }

  50% {
    transform: translateY(5px) rotate(90deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@include respond-to((max-width: 412px)) {
  .o-button,
  .o-button--file > .o-button_label {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }
}
