.o-description {
  max-width: 925px;
  margin: 0 auto 85px;
  font-size: 18px;
  font-family: $font-family-main;
  color: $color-white;
}

@include respond-to(mobile) {
  .o-description {
    font-size: 16px;
    margin-bottom: 10vw;
  }
}
