.o-label--input {
  padding: 10px 0;

  .o-label-title {
    display: block;
    font-family: $font-family-main;
    color: $color-gray-mid;
  }

  .o-label-input {
    border: none;
    outline: none;
    width: 50%;
    padding-top: 10px;
    border-bottom: 1px solid $color-gray-ease;
    font-size: 18px;
  }
}

.o-label--radio {
  display: block;
  margin: 20px 0;
}

.o-label--radio {
  width: 130px;
  display: inline-block;
  margin: 10px 0;

  .o-label-radio {
    position: absolute;
    width: 6px;
    height: 6px;
    opacity: 0;
    padding: 2px;

    &:checked + .o-label-title::before {
      background: $color-purple;
      border-color: $color-orange;
    }
  }

  .o-label-title {
    &::before {
      content: " ";
      border: 4px solid $color-purple;
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
}

@include respond-to(mobile) {
  .o-label--input {
    .o-label-input {
      width: 100%;
    }
  }
}
