.o-label--radio-holder {
  padding-bottom: 20px;
}

.o-label--input {
  padding: 10px 0;

  .o-label-title {
    display: block;
    font-family: $font-family-main;
    color: $color-gray-mid;
  }

  .o-label-input {
    border: none;
    outline: none;
    width: 80%;
    padding-top: 10px;
    border-bottom: 1px solid $color-gray-ease;
    font-size: 18px;

    &:disabled {
      border-radius: 10px;
    }

    &:focus {
      border-color: $color-purple;
      border-width: 2px;
    }
  }
}

.o-label--radio {
  display: block;
  margin: 20px 0;
}

.o-label--radio {
  width: 200px;
  display: inline-block;
  margin: 10px 0;

  .o-label-radio {
    position: absolute;
    width: 6px;
    height: 6px;
    opacity: 0;
    padding: 2px;

    &:checked + .o-label-title::before {
      background: $color-purple;
      border-color: $color-orange;
    }
  }

  .o-label-title {
    &::before {
      content: " ";
      border: 4px solid $color-purple;
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
}

.o-label-select__holder {
  display: inline-block;
  position: relative;
  border: 2px solid $color-purple;
  border-radius: 15px;
  padding: 3px 10px;
}

.o-label-select__span {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.o-label-select__value {
  position: relative;
  z-index: 2;
  opacity: 0;
  border-radius: 15px;

  &:focus {
    & + .o-label-select__span {
      box-shadow: 0 0 10px $color-purple;
    }
  }
}

@include respond-to(mobile) {
  .o-label--input {
    .o-label-input {
      width: 100%;
    }
  }

  .o-label-range__holder {
    width: 100%;
  }

  .o-label-range-value {
    flex: 2;
  }
}

@include respond-to((max-width: 988px)) {
  .o-label--radio-holder {
    max-width: 500px;
  }
}
