.o-label--radio-holder {
  padding-bottom: 20px;
}

.o-label--input {
  padding: 10px 0;

  .o-label-title {
    display: block;
    font-family: $font-family-main;
    color: $color-gray-mid;
  }

  .o-label-input {
    border: none;
    outline: none;
    width: 70%;
    padding-top: 10px;
    border-bottom: 1px solid $color-gray-ease;
    font-size: 18px;

    &:disabled {
      border-radius: 10px;
    }
  }
}

.o-label--radio {
  display: block;
  margin: 20px 0;
}

.o-label--radio {
  width: 200px;
  display: inline-block;
  margin: 10px 0;

  .o-label-radio {
    position: absolute;
    width: 6px;
    height: 6px;
    opacity: 0;
    padding: 2px;

    &:checked + .o-label-title::before {
      background: $color-purple;
      border-color: $color-orange;
    }
  }

  .o-label-title {
    &::before {
      content: " ";
      border: 4px solid $color-purple;
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
}

.o-label-range__holder {
  display: flex;
  position: relative;
  margin-top: 30px;
  width: 70%;
}

.o-label-range {
  vertical-align: middle;
  -webkit-appearance: none;
  flex: 8;

  &::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 28px;
    width: 16px;
    border-radius: 4px;
    background: $color-white;
    margin-top: -12px;
    box-shadow: 0 0 10px $color-gray;
  }

  &:focus {
    outline: none;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }
}

.o-label-range-value {
  background: $color-white;
  padding: 10px;
  border: 1px solid $color-gray-ease;
  box-shadow: 0 0 10px $color-gray-ease;
  border-radius: 4px;
  vertical-align: middle;
  width: 10%;
  margin-left: 10px;
  flex: 1;
  text-align: center;
}

@include respond-to(mobile) {
  .o-label--input {
    .o-label-input {
      width: 100%;
    }
  }

  .o-label-range__holder {
    width: 100%;
  }

  .o-label-range-value {
    flex: 2;
  }
}

@include respond-to((max-width: 988px)) {
  .o-label--radio-holder {
    max-width: 500px;
  }
}
