.o-octocat {
  font-size: 0;
  position: absolute;
  background: url(../static/octocat-light.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  top: 10px;
  right: 10px;
}

@include respond-to(mobile) {
  .o-octocat {
    width: 75px;
    height: 75px;
  }
}
