.o-label-range__holder {
  display: flex;
  position: relative;
  margin-top: 30px;
  width: 70%;
}

.o-label-range {
  vertical-align: middle;
  -webkit-appearance: none;
  flex: 8;

  &::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }

  &::-moz-range-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }

  &::-ms-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 28px;
    width: 16px;
    border-radius: 4px;
    background: $color-white;
    margin-top: -12px;
    box-shadow: 0 0 10px $color-gray;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 28px;
    width: 16px;
    border-radius: 4px;
    background: $color-white;
    margin-top: -12px;
    box-shadow: 0 0 10px $color-gray;
  }

  &::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 28px;
    width: 16px;
    border-radius: 4px;
    background: $color-white;
    margin-top: -12px;
    box-shadow: 0 0 10px $color-gray;
  }

  &:focus {
    outline: none;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }

  &::-ms-fill-lower {
    background: #ccc;
  }
}

.o-label-range-value {
  background: $color-white;
  padding: 10px;
  border: 1px solid $color-gray-ease;
  box-shadow: 0 0 10px $color-gray-ease;
  border-radius: 4px;
  vertical-align: middle;
  width: 10%;
  margin-left: 10px;
  flex: 1;
  text-align: center;
}
