.o-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 102px;
  font-family: $font-family-main;

  span {
    color: $color-white;
  }
}

@include respond-to(mobile) {
  .o-title {
    font-size: 50px;
  }
}
