<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include title.html %}
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css">
  <link rel="icon" type="image/png" href="assets/static/favicon.png">
</head>

<body>
  <div id="container">
    <div data-anchor="Page 1" class="home">{% include header.html %}</div>
    <div data-anchor="Page 2" class="form">
      <main class="pao">
        {{ content }}
      </main>
    </div>
  <!-- {% include footer.html %} -->
  </div>
  <script src="{{ site.baseurl }}assets/js/vendor.js"></script>
  <script src="{{ site.baseurl }}assets/js/main.js"></script>
</body>
</html>
