<form class="c-dropdown__box" id="binomial" data-binomial>

  <h3>Entrada de Dados</h3>

  <div class="o-label--input">
    <label for="binomial-size" class="o-label-title">Tamanho da Amostra (n)</label>
    <input type="number" id="binomial-size" class="o-label-input" required="true" data-size>
  </div>

  <div class="o-label--input">
    <label for="binomial-event" class="o-label-title">Evento (k)</label>
    <input type="text" id="binomial-event" class="o-label-input" required="true" data-event>
  </div>

  <div class="o-label--input">
    <label for="binomial-sucess" class="o-label-title">Sucesso (p)</label>
    <input type="number" id="binomial-sucess" class="o-label-input" required="true" data-sucess>
  </div>

  <div class="o-label--input">
    <label for="binomial-failure" class="o-label-title">Fracasso (q)</label>
    <input type="number" id="binomial-failure" class="o-label-input" required="true" data-failure>
  </div>
  <button type="button" class="o-button o-button--calculate" button-binomial-empty>Limpar os campos</button>
  <button type="submit" class="o-button o-button--calculate" data-button-binomial>Calcular</button>
</form>