<form id="correlationAndRegression" class="c-form__box" data-cr>
  <h2>Entrada de dados</h2>
  <div class="o-label--input">
    <label for="cr-name-independente" class="o-label-title">Nome da variavel independente (X)</label>
    <input type="text" id="cr-name-independente" class="o-label-input" required="true" data-cr-name-x>
  </div>

  <div class="o-label--input">
    <label for="cr-name-dependente" class="o-label-title">Nome da variavel dependente (Y)</label>
    <input type="text" id="cr-name-dependente" class="o-label-input" required="true" data-cr-name-y>
  </div>

  <div class="o-label--input">
    <label for="cr-independente" class="o-label-title">Historico da variavel independente (X)</label>
    <input type="text" id="cr-independente" class="o-label-input" required="true" data-cr-x>
  </div>

  <div class="o-label--input">
    <label for="cr-dependente" class="o-label-title">Historico da variavel dependente (Y)</label>
    <input type="text" id="cr-dependente" class="o-label-input" required="true" data-cr-y>
  </div>

  <button type="button" class="o-button o-button--calculate" button-cr-empty>Limpar os campos</button>

  <div class="o-button o-button--file">
    <input type="file" id="file-cr" accept=".csv,.txt" data-cr-file></input>
    <label class="o-button_label" for="file-cr" >Escolha o arquivo</label>
  </div>

  <button type="submit" class="o-button o-button--calculate" data-button-cr>Calcular</button>

</form>