<div id="probability" class="c-form__box" data-form>

  <ul class="c-dropdown__tabs" tab-list>
    <li class="c-dropdown__tab" tab tab-default><a href="#uniforme">Uniforme</a> </li>
    <li class="c-dropdown__tab" tab><a href="#binomial">Binomial</a></li>
    <li class="c-dropdown__tab" tab><a href="#normal">Normal</a></li>
  </ul>
  <div class="c-dropdown__boxes" content-list>
    {% include sections/tabs/uniform.html %}
    {% include sections/tabs/binomial.html %}
    {% include sections/tabs/normal.html %}
  </div>

</div>