<div id="probability" class="c-form__box" data-form>

  <ul class="c-dropdown__tabs" tab-list>
    <li class="c-dropdown__tab" tab tab-default><a href="#uniforme">Uniforeme</a> </li>
    <li class="c-dropdown__tab" tab><a href="#pao3">Normal</a></li>
    <li class="c-dropdown__tab" tab><a href="#pao2">Binomial</a></li>
  </ul>
  <div class="c-dropdown__boxes" content-list>
    {% include sections/tabs/uniform.html %}
    <div class="c-dropdown__box" id="pao3">GRwghrsWGR</div>
    <div class="c-dropdown__box" id="pao2">wgrWGRSgrsgr</div>
  </div>

</div>