<div class="c-form__box" data-box data-dropdown>

  <ul class="c-dropdown__tabs" data-list-tab>
    <li class="c-dropdown__tab is-active" data-tab>pao</li>
    <li class="c-dropdown__tab" data-tab>pao 3 </li>
    <li class="c-dropdown__tab" data-tab>pao 2</li>
  </ul>
  <div class="c-dropdown__boxes" data-list-box>
    <div class="c-dropdown__box is-active" data-box>fvawsrgvfg</div>
    <div class="c-dropdown__box" data-box>GRwghrsWGR</div>
    <div class="c-dropdown__box" data-box>wgrWGRSgrsgr</div>
  </div>
  
</div>