<div class="c-form__box is-active" data-box>
  <div class="o-label--input">
    <label for="teste1" class="o-label-title">Label generico</label>
    <input type="text" id="teste1" class="o-label-input">
  </div>
  
  <div class="o-label--radio-holder">
    <h2>Label Escolha</h2>
    <div class="o-label--radio">
      <input type="radio" id="teste2" class="o-label-radio">
      <label for="teste2" class="o-label-title">Pick me</label>
    </div>
    
    <div class="o-label--radio">
      <input type="radio" id="teste3" class="o-label-radio">
      <label for="teste3" class="o-label-title">Pick me</label>
    </div>
  </div>
  <button class="o-button o-button--calculate" data-button-form>
    <span class="o-button__text">Calcular</span>
  </button>
</div>
