<form class="c-dropdown__box" id="uniforme" data-uniform>

  <h3>Entrada de Dados</h3>
  <div class="o-label--input">
    <label for="max" class="o-label-title">Ponto máximo</label>
    <input type="number" id="max" class="o-label-input" required="true" data-max>
  </div>

  <div class="o-label--input">
    <label for="min" class="o-label-title">Ponto mínimo</label>
    <input type="number" id="min" class="o-label-input" required="true" data-min>
  </div>

  <div class="o-label--select">
    <label for="interval" class="o-label-title">Intervalo de análise: </label>
    <div class="o-label-select__holder" data-select>
      <select class="o-label-select__value" id="interval" name="interval" data-select-value>
        <option value=" -- "> -- </option>
        <option value="menor">Menor que</option>
        <option value="entre">Entre</option>
        <option value="maior">Maior que</option>
      </select>
      <span class="o-label-select__span" data-select-span> Selecione </span>
    </div>
  </div>

  <div class="o-label--input">
    <label class="o-label-title" for="interval-value">Dado(s)</label>
    <input type="text" class="o-label-input" id="interval-valueverify" required="true" data-interval>
  </div>

  <br>

  <button type="submit" class="o-button o-button--calculate" data-button-uniform>Calcular</button>

</form>